@import "_common"
@import "_header"
@import '_sidebar'
@import "_demo.styl"

$width = 900px
$space = 50px

body
  background-color darken($highlight_bg_color, 10%)

#logo
  span
    font-size 1.2em
  img
    display none

.sidebar
  display none

#mobile-bar
  &.top
    background-color transparent
    box-shadow none
    .logo
      display none

#hero
  text-align center
  padding $space 40px
  background-color $highlight_bg_color
  .inner
    max-width $width
    margin 0 auto
  .left, .right
    display inline-block
    vertical-align top
  .left
    width 20%
  .right
    width 61%
  .hero-logo
    width 200px
    height 200px
    float right
    margin-right 60px
  h1
    color: $primary_text_color
    font-weight 300
    margin 0
    font-size 3.2em
  h2
    font-family $logo-font
    font-weight 500
    font-size 2.4em
    margin 0 0 10px
    display none
  .button
    margin 1em 0
    font-size 1.05em
    font-weight 600
    letter-spacing .1em
    &:first-child
      margin-right 1em
  .social-buttons
    list-style-type none
    padding 0
    li
      display inline-block
      vertical-align middle
      margin-right 15px

#highlights
  background-color #fff
  padding-bottom 70px
  padding-top 40px
  .inner
    max-width $width
    margin 0 auto
    text-align center
  .point
    text-align left
    width 49%
    display inline-block
    vertical-align top
    box-sizing border-box
    padding 0 2em
    h2
      color $primary_color
      font-size 1.5em
      font-weight 400
      margin 0
      padding .5em 0
    p
      color $light

#examples
  text-align left
  padding 35px 40px 45px
  background-color #ebeff2
  .inner
    max-width 700px
    margin 30px auto
    pre
      padding 6px
      position relative
    code
      font-size 12px
      height  400px
      overflow scroll
      &.js:after, &.html:after
        position absolute
        top 0
        right 0
        color #ccc
        text-align right
        font-size .75em
        padding 5px 10px 0
        line-height 15px
        height 15px
        font-weight 600
      &.js:after
        content 'JS'
      &.html:after
        content 'HTML'

  a
    color $primary_color
    font-weight 600
  h3
    color $primary_headline_color
    font-size 1.5em
    margin 0 0 10px
  .demo
    background-color #f8f8f8
    border 1px solid #dadada;
    border-radius 2px;
    padding 25px 35px;
    margin-top 1em;
    margin-bottom 40px;
    font-size 1.2em;
    line-height 1.5em;
    -webkit-user-select none;
    -moz-user-select none;
    -ms-user-select none;
    user-select none;
    overflow-x auto;


#footer
  padding $space 0
  color #fff
  text-align center
  a
    font-weight 700
    color #fff

@media screen and (max-width: $width)
  body
    -webkit-text-size-adjust none
    font-size 14px

  .sidebar
    display block

  #header
    display none

  #mobile-bar
    display block

  #hero
    padding $space 40px 30px
    .hero-logo
      float none
      margin 30px 0 15px
      width 140px
      height 140px
    .left, .right
      text-align center
      width 100%
    h1
      font-size 2em
    h2
      display block
      color $primary_text_color
    .button
      font-size .9em

  #highlights
    .point
      display block
      text-align center
      margin 0 auto
      width 300px
      padding 0 40px 30px
      &:before
        content "—"
        color $primary_color
