<div id="header">
  <a id="logo" href="/">
    <img src="/images/logo.png">
    <span><span class="m">M</span>elt.js</span>
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
